__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

venv/
env/
.venv

.idea/
.vscode/
*.swp

input/*
output/*
!input/.gitkeep
!output/.gitkeep

.DS_Store

firebase-debug.log
*.log
